<template name="schedule">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="{{pathFor 'home'}}" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="schedule-section">
		<div class="general-container general-container--blog">
			<div class="blog-section-nav">
				<a class="blog-section-nav__item js-schedule-nav-item active" href="#" data-table="first-group">
					<span>І кіші  &ldquo;Ботақан&rdquo;</span>
					<span class="mobile-title">БТҚ</span>
				</a>
				<a class="blog-section-nav__item js-schedule-nav-item" href="#" data-table="second-group">
					<span>І І кіші  &ldquo;Айгөлек&rdquo;</span>
					<span class="mobile-title">АЙГ</span>
				</a>
				<a class="blog-section-nav__item js-schedule-nav-item" href="#" data-table="third-group">
					<span>І І кіші  &ldquo;Жауқазын&rdquo;</span>
					<span class="mobile-title">ЖҚЗ</span>
				</a>
				<a class="blog-section-nav__item js-schedule-nav-item" href="#" data-table="forth-group">
					<span>Ортаңғы &ldquo;Ертөстік&rdquo;</span>
					<span class="mobile-title">ЕРТ</span>
				</a>
				<a class="blog-section-nav__item js-schedule-nav-item" href="#" data-table="fifth-group">
					<span>Ересек  &ldquo;Болашақ&rdquo;</span>
					<span class="mobile-title">БЛШ</span>
				</a>
				<a class="blog-section-nav__item js-schedule-nav-item" href="#" data-table="sixth-group">
					<span>Мектепалды даярлық</span>
					<span class="mobile-title">МТП</span>
				</a>
			</div>
			<table class="first-group active">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекеті</th>
						<th>1 апта</th>
						<th>2 апта</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Тіл дамыту</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Музыка </td>
						<td>Музыка </td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сурет</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Сенсорика</td>
						<td>Сенсорика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Экология негіздері</td>
						<td>Қоршаған орта</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Музыка</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Жұма</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Мүсіндеу</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="second-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекеті</th>
						<th>1 апта</th>
						<th>2 апта</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Ағылшын</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сурет салу</td>
						<td>Сурет салу</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Тіл дамыту</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (4) 10:10-10:30</td>
						<td>ҚМТҚ</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td rowspan="4">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Көркем әдебиет </td>
						<td>Көркем әдебиет </td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Әдеп</td>
						<td>Әдеп</td>
					</tr>

					<tr>
						<td>Ойын іс-әрек (4) 10:30-10:50</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Интеллектум</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Музыка</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Экология негіздері</td>
						<td>Қоршаған орта</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (4) 10:10-10:30</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Мүсіндеу</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (3) 10:10-10:30</td>
						<td>Ағылшын</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (4) 10:10-10:30</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Жұма</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Логика</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Музыка</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Құрастыру</td>
						<td>Құрастыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
				</tbody>
			</table>

			<table class="third-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекет</th>
						<th>Пәндер</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:20-9:40</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2)9:40-10:00</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3)10:00-10:20</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 15:30-15:55</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:20-9:40</td>
						<td>Әдеп</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2)9:40-10:00</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3)10:00-10:20</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 15:30-15:55</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td rowspan="4">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:20-9:40</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2)9:40-10:00</td>
						<td>Экология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3)10:00-10:20</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 15:30-15:55</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:20-9:40</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2)9:40-10:00</td>
						<td>Мүсіндеу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3)10:00-10:20</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 15:30-15:55</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="4">Жұма</td>
						<td>Оқу іс-әрекет (1)9:20-9:40</td>
						<td>Құрастыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2)9:40-10:00</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3)10:00-10:20</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 15:30-15:55</td>
						<td>Сюжеттік ойын</td>
					</tr>
				</tbody>
			</table>

			<table class="forth-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекет</th>
						<th>Пәндер</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:20</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:25-10:45</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:00-11:20</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td rowspan="4">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:20</td>
						<td>Әдеп</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:25-10:45</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:00-11:20</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td rowspan="4">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Экология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:20</td>
						<td>Құрастыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:25-10:45</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:00-11:20</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="4">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:20</td>
						<td>Мүсіндеу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:25-10:45</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:00-11:20</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="4"><span>Жұма</span></td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Қоршаған орта</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:20</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:25-10:45</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:00-11:20</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="fifth-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекет</th>
						<th>Пәндер</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="5">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:55</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:25</td>
						<td>Экология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 11:00-11:25</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:30-11:55</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5) 15:45-16:10</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="5">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:55</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:25</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 11:00-11:25</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:30-11:55</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5) 15:45-16:10</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td rowspan="5">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:55</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:25</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 11:00-11:25</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:30-11:55</td>
						<td>Сауат ашу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5) 15:45-16:10</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="5">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:55</td>
						<td>Валеология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:25</td>
						<td>Өзін-өзі тану</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 11:00-11:25</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:30-11:55</td>
						<td>Мүсіндеу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5) 15:45-16:10</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="5"><span>Жұма</span></td>
						<td>Оқу іс-әрекет (1)9:30-9:55</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 10:00-10:25</td>
						<td>Әдеп</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 11:00-11:25</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4) 11:30-11:55</td>
						<td>Құрастыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5) 15:45-16:10</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="sixth-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекет</th>
						<th>Пәндер</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="5">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:00-9:30</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:40-10:10</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:30-11:00</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4)11:10-11:40</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5)11:50-12:20</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td rowspan="5">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:00-9:30</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:40-10:10</td>
						<td>Сауат ашу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:30-11:00</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4)11:10-11:40</td>
						<td>Құрастыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5)11:50-12:20</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td rowspan="5">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:00-9:30</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:40-10:10</td>
						<td>Өзін-өзі тану</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:30-11:00</td>
						<td>Экология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4)11:10-11:40</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5)11:50-12:20</td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="5">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:00-9:30</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:40-10:10</td>
						<td>Валеология</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:30-11:00</td>
						<td>Мүсіндеу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4)11:10-11:40</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5)11:50-12:20</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td rowspan="5"><span>Жұма</span></td>
						<td>Оқу іс-әрекет (1)9:00-9:30</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:40-10:10</td>
						<td>Сауат ашу</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (3) 10:30-11:00</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (4)11:10-11:40</td>
						<td>Әдеп</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (5)11:50-12:20</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
	</section>
</template>