<template name="uniqueness">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="{{pathFor 'home'}}" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="custom-content">
		<div class="custom-icon custom-content__item">
			<img src="/img/icons/unique.svg" alt="">
			<span>Ерекшеліктеріміз</span>
		</div>
		<ul class="custom-list custom-content__item">
			<li class="custom-item">Ұзақ жұмыс күні (7.30-19.30)</li>
			<li class="custom-item">Мейірбан қызметкерлер</li>
			<li class="custom-item">Мемлекеттік тілде қызмет көрсету</li>
			<li class="custom-item">Халал тамақ</li>
			<li class="custom-item">Мерзімдік тағамдарға сай құрылған ауыспалы ас мәзірі</li>
			<li class="custom-item">Ата-аналармен тығыз байланыс</li>
		</ul>
	</section>

</template>