footer {
  background-image: url(../img/kids-pattern.jpg);
  background-size: 20%;
  font-weight: 700; }
  @media (max-width: 768px) {
    footer {
      text-align: center; } }

.footer-wrapper {
  background-color: rgba(41, 14, 56, 0.9);
  color: white;
  padding: 20px 0; }
