@import "../../tools/mixins";

header {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: absolute;
	z-index: 2;

	@media(max-width: 768px) {
		margin: 0;
		background-color: white;
	}
}

.general-container--header {
	position: relative;
	height: 100%;
}

.logo, .navigation {
	@include centerer_v;
	color: white;
}

.logo {
	left: 0;
	text-align: center;
	font-family: "Comfortaa";
	font-weight: 700;


	@media(max-width: 768px) {
		color: $primary;
		margin-left: 5px;
	}
}

.navigation {
	right: 0;
}

.navigation__item {
	margin-left: 15px;
	text-shadow: 1px 1px 5px #000;
	font-weight: 700;
	font-size: 14px;
	transition: all 0.3s;

	&:link, &:visited, &:active {
		color: white;
	}

	&:hover {
		color: $primary; // TODO: change to another color later!!!!!!!!!!!!!!!!!!1
		text-shadow: none;
	}

	@media(max-width: 768px) {
		display: none;
	}
}

.menu-btn {
	@include centerer_v;
	right: 0;
	border-radius: 5px;
	width: 40px;
	height: 30px;
	display: none;
	text-align: center;

	@media(max-width: 770px) {
		display: block;
	}

	& span {
		display: block;
		width: 80%;
		height: 2px;
		background-color: $primary;
		@include centerer_v;
		border-radius: 2px;
		margin: 0 auto;

		&::after, &::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: $primary;
			position: absolute;
		}
		&::after {
			top: 7px;
		}
		&::before {
			top: -7px;
		}
	}
}

.mobile-nav-wrapper {
	width: 100%;
	background-color: white;
}

.mobile-nav-wrapper {
	// border-top: 1px solid #ccc;
}

.mobile-navigation {
	display: none;
}

.mobile-navigation.is-open {
	display: block;
	list-style: none;
	text-align: center;
	background-color: white;
	border-top: 1px solid #ccc;
}

.mobile-navigation li a {
	display: inline-block;
	padding: 10px;
	width: 100%;
	font-weight: 300;

	&:active {
		background-color: #ccc;
		color: white;
	}
}