header {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  z-index: 2; }

.general-container--header {
  position: relative;
  height: 100%; }

.logo, .navigation {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white; }

.logo {
  left: 0;
  text-align: center; }

.navigation {
  right: 0; }

.navigation__item {
  margin-left: 15px;
  text-shadow: 1px 1px 5px #000; }
  .navigation__item:link, .navigation__item:visited, .navigation__item:active {
    color: white; }
  .navigation__item:hover {
    color: #ccc; }
