<template name="admin">
	<style>
		.back {
			background-color: #ddd;
			min-height: 100vh;
		}
		.white {
			background-color: white;
			box-shadow: 2px 3px 1px #bbb;
			margin-bottom: 20px;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<div class="back">
		<div class="container white">
			<h1>АДМИНИСТРАТОР БЕТІ</h1>
			{{> loginButtons}}
		</div>
		{{#if equals user_email "admin@altynurpak.kz"}}
		<div class="container white">
			<h3>Жазбалар</h3>
			<table class="table active table-stripped table-hover table-condensed center">
				<thead>
					<tr>
						<td><a href="#">Аты</a>&nbsp;<i class="fa fa-sort-alpha-asc"></i></td>
						<td><a href="#">Категория</a>&nbsp;<i class="fa fa-sort-alpha-asc"></i></td>
						<td><a href="#">Жазылды</a>&nbsp;<i class="fa fa-sort-alpha-asc"></i></td>
						<td>Әрекет</td>
					</tr>
				</thead>
				<tbody>
					{{#each posts}}
						<tr>
							<td>{{this.title}}</td>
							<td>{{this.category}}</td>
							<td>{{formatDateFromNow this.added}}</td>
							<td><a href="#" class="remove" id="{{this._id}}"><i class="fa fa-trash-o fa-2"></i></a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="container white">
			<h3>Жаңа жазба</h3>
			<div class="row">
				<div class="col-md-8">
					<br/>
					<p>
						<strong>Аты</strong>
						<br/>
						<input type="text" id="title"/>
					</p>
					<p>
						<strong>Категория</strong>
						<br/>
					  	{{#each categories}}
							<input type="checkbox" name="category" value="{{this.name}}"> {{this.name}}<br/>
					    {{/each}}
					</p>
					<p>
						<strong>Іші</strong>
						<br/>
						<textarea name="body" id = "body" style="width: 300px; height: 150px;"></textarea>
					</p>
					<p>
						<p id="photkalar">
							<input name="photo_src" type="file" id="sell-item-img" class="myFileInput">
						</p>
						<a href="#" id="more-img">Тағы фотка</a><p id="status"></p>
					</p>
					<p>
						<button type="button" id="save" class="btn btn-primary">Сақта</button>
					</p>
					<p id="add-body"></p>
				</div>
				<div class="col-md-4">
					<h5>Ережелер</h5>
					<p class="lead">
					Жаңа параграф үшін оны &lt;p&gt; және &lt;/p&gt; ішіне жазыңыз 
					</p>
					<p class="lead">
					Сөзді <b>толық</b> қылу үшін оны &lt;b&gt; және &lt;/b&gt; ішіне жазыңыз 
					</p>
					<p class="lead">
					Сөзді <i>бұрып</i> жазғыңыз келсе оны &lt;i&gt; және &lt;/i&gt; ішіне жазыңыз 
					</p>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</template>