body {
	font: 16px/1.5 "Open Sans", Helvetica;

	@media(max-width: 768px) {
		font-size: 14px
	}
}
.general-container {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
}

.side-navigation {
	position: fixed;
	right: 5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
	z-index: 500;
	opacity: 0;
	transition: all 0.5s;

	@media(max-width: 900px) {
		display: none;
	}
}

.side-navigation.seen {
	opacity: 1;
}

.side-navigation__item {
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid $primary;
	border-radius: 50%;
	margin: 20px 0;
	position: relative;
	transition: all 0.5s;

	&::before {
		content: attr(data-content);
		width: 110px;
		position: absolute;
		left: -120px;
		top: -5px;
		text-align: center;
		background-color: $primary;
		color: white;
		font-size: 14px;
		-webkit-transform-origin: center right;
		transform-origin: center right;
		-webkit-transform: scale(0);
		transform: scale(0);
		transition: all 0.3s;
	}

	&:hover::before {
		transform: scale(1);
		-webkit-transform: scale(1);

	}

	&.active {
		background-color: $primary;
	}
}

img {
	cursor: pointer;
}
