@import "../../tools/mixins";

.custom-body {
	position: relative;
	padding-bottom: 60px;
	background-image: url(../img/kids-pattern.jpg);
	background-attachment: fixed;
	background-size: 10%;
	min-height: 100vh;
}

.custom-content {
	z-index: 200;
	position: relative;
	width: 900px;
	max-width: 100%;
	margin: 10px auto;
	overflow: hidden;
	padding: 30px ;
	@include flex;
	justify-content: space-between;
	align-items: flex-start;
	align-items: -webkit-flex-start;

	@media(max-width: 550px) {
		justify-content: center;
	}
}

.custom-title {
	font-size: 24px;
	display: block;
	padding-bottom: 20px;
	text-align: center;
}

.custom-list {
	list-style: none;
	counter-reset: my-counter;
	@include flex-grow(1);
	margin-left: 100px;
}

.custom-item {
	counter-increment: my-counter;
	position: relative;
	margin: 50px 0;
	font-weight: 700;
	color: $primary;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: counter(my-counter);
		font-size: 3em;
		@include centerer_v;
		left: -80px;
	}
}

.custom-icon {

	margin-right: 50px;
	text-align: center;
	color: #E0A212;
	border: 3px solid;
	border-radius: 10px;
	padding: 20px;
	height: 200px;
	background-color: white;

	& img {
		height: 80%;
	}

	& span {
		display: block;
		margin-top: 10px;
		text-transform: uppercase;
		font-weight: 700;
	}

	@media(max-width: 700px) {
		display: none;
	}
}

.custom-content__item {
	@include flex-basis(200px);
}