<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Блог пост| Алтын Ұрпақ балабақшасы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic|PT+Serif&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="../img/icons/favicon.ico" />
</head>
<body class="blog-post-body">
	
		<header class="header-not-main">
			<div class="general-container general-container--header">
				<a href="index.html" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
			</div>
		</header>
		<div class="overlay"></div>

		<section class="blog-post">
			<div class="post-content">
				<h1 class="blog-post-title">Әйел бақыты деген не?</h1>
				<p>Сынаққа құрылған мына өмірде тағдырымызды тоз-топалаңға ұшыратып алмас үшін қарекет жасауға талпынамыз. Бақыттың түпкі тінін әркім шама-шарқынша шамалайды. Ес білгенімізден әжемізге, анамызға, әпке-сіңлілерімізге, құрбыларымызға әйел бақытын тілеген ақжарылқап ізгі ниеттерді естіп жатамыз. Шын мәнінде әйел бақыты деген не?</p>
				<p>Әйел бақыты – қосағыңмен бірге ағарып, ана деген аяулы сезімді өне бойыңнан сезіну. Заман ағымы жеке тұлға ретінде өзіңді қалыптастыруға ат салыса отырып, сүйікті ісімен де шұғылдануды талап етеді.</p>
				<p>«Әйел бақыты» бағдарламасы екі жыл бойы әр адамның тағдырына бей-жай қарамауды насихаттап келеді. Жаңа маусымда көрерменді елең еткізетін әсерлі оқиғалар, көңілге қонымды тұщымды жауаптар, кәдеге жарататын пайдалы кеңестер орын алады деп күтілуде. Ерекшелігі – деректі драмаларға құрылған бағдарламада адам тағдырына бойлай еніп, ауыр мәселелердің түйінді тұсын тарқату.</p>
				<p>Толстойдың «Анна Каренинасы»: «Кез келген отбасының бақыты бірдей, ал қайғысы әр түрлі. Әр үйдің көпке көрінбес көз жасы бар», -деп басталатын емес пе еді? Расында, өмірдегі сынақтарды жеңе білуіміз керек-ақ. Ана сүтін арда емген саналы ұрпақ тәрбиелеу үшін ата-ананың өзі бойындағы комплекстер мен кемшіліктерді жеңе білсе, «қағынан жеріді» деген сөзді есітпеуші еді. От пен ошақтың жанында ғана отыратын әйелдердің рөлі артта қалғанын «Әйел бақыты» ток-шоу бағдарламасы көрермендерге жеткізуге тырысады.</p>
				<p>Нәзік жанды аруларымыздың ерлерге қарағанда майда-шүйде мәселелері шаш етектен. Бірнеше мәрте сүзгіден өткен кеңестерді ел назарына ұсынып, келбетті көрінудің құпиясын ашып береді. Бағдарлама барысында бақытты отбасының отанасы жұбайын көргенде кірпідей жиырылып, түрпідей тиіспейтінін санасына сіңіруге ат салысады. «Әйел бақыты» жаңа тыныспен көрерменге кемшін сана, кіріптар ахуалға қарсы шығып қана қоймай, салт-дәстүріміздің сарқыншағын жаңғыртады.</p>
			</div>
		</section>

		<section class="blog-post-photos photos-wrapper--general">
			<img src="../img/slide1.jpg" alt="" class="photo-view">
			<img src="../img/slide2.jpg" alt="" class="photo-view">
			<img src="../img/slide3.jpg" alt="" class="photo-view">
			<img src="../img/slide1.jpg" alt="" class="photo-view">
			<img src="../img/slide2.jpg" alt="" class="photo-view">
			<img src="../img/slide3.jpg" alt="" class="photo-view">
		</section>

		<div class="body-overlay"></div>
		<div class="image-viewer">
			<img src="" alt="" class="current-image">
			<span class="close-btn"></span>
			<span class="left-controller"></span>
			<span class="right-controller"></span>
		</div>

		<footer class="footer-not-main">
			<div class="footer-wrapper">
				<div class="general-container">
					Разработано
				</div>
			</div>
		</footer>

		<script src="../scripts/jquery-2.1.4.min.js"></script>
		<script src="../scripts/scrollTo.min.js"></script>
		<script src="../scripts/script.js"></script>
	<!-- </div> -->
</body>
</html>