<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Блог | Алтын Ұрпақ балабақшасы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic|PT+Serif' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="img/icons/favicon.ico" />
</head>
<body>

	<header class="blog-header">
		<div class="general-container">
			<a href="#" class="logo">"Алтын Ұрпақ" балабақшасы</a>
		</div>
	</header>
	
	<div class="intro-section">
		<span class="page-title">
			
		</span>
	</div>

</body>
</html>