<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Сабақтар кестесі | Алтын Ұрпақ балабақшасы</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="../img/icons/favicon.ico" />
</head>
<body class="custom-body">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="index.html" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="schedule-section">
		<div class="general-container general-container--blog">
			<div class="blog-section-nav">
				<a class="blog-section-nav__item active" href="#">
					<span>І кіші  &ldquo;Ботақан&rdquo;</span>
				</a>
				<a class="blog-section-nav__item" href="#">
					<span>І І кіші  &ldquo;Айгөлек&rdquo;</span>
				</a>
				<a class="blog-section-nav__item" href="#">
					<span>І І кіші  &ldquo;Жауқазын&rdquo;</span>
				</a>
				<a class="blog-section-nav__item" href="#">
					<span>Ортаңғы &ldquo;Ертөстік&rdquo;</span>
				</a>
				<a class="blog-section-nav__item" href="#">
					<span>Ересек  &ldquo;Болашақ&rdquo;</span>
				</a>
				<a class="blog-section-nav__item" href="#">
					<span>Мектепалды даярлық</span>
				</a>
			</div>
			<table class="first-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекеті</th>
						<th>1 апта</th>
						<th>2 апта</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Тіл дамыту</td>
						<td>Көркем әдебиет</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Музыка </td>
						<td>Музыка </td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сурет</td>
						<td>Сурет</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Сенсорика</td>
						<td>Сенсорика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Экология негіздері</td>
						<td>Қоршаған орта</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Музыка</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="3">Жұма</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Мүсіндеу</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="second-group">
				<thead>
					<tr>
						<th>Апта күні</th>
						<th>Оқу іс-әрекеті</th>
						<th>1 апта</th>
						<th>2 апта</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3">Дүйсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Ағылшын</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сурет салу</td>
						<td>Сурет салу</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Тіл дамыту</td>
						<td>Тіл дамыту</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (4) 10:10-10:30</td>
						<td>ҚМТҚ</td>
						<td>ҚМТҚ</td>
					</tr>
					<tr>
						<td rowspan="3">Сейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Көркем әдебиет </td>
						<td>Көркем әдебиет </td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Әдеп</td>
						<td>Әдеп</td>
					</tr>

					<tr>
						<td>Ойын іс-әрек (4) 10:30-10:50</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="3">Сәрсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Интеллектум</td>
						<td>Интеллектум</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Музыка</td>
						<td>Музыка</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td>Экология негіздері</td>
						<td>Қоршаған орта</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (4) 10:10-10:30</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="3">Бейсенбі</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Мүсіндеу</td>
						<td>Жапсырма</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Дене шынықтыру</td>
						<td>Дене шынықтыру</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (3) 10:10-10:30</td>
						<td>Ағылшын</td>
						<td>Ағылшын</td>
					</tr>
					<tr>
						<td>Ойын іс-әрекет (4) 10:10-10:30</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td rowspan="3">Жұма</td>
						<td>Оқу іс-әрекет (1)9:30-9:50</td>
						<td>Логика</td>
						<td>Логика</td>
					</tr>
					<tr>
						<td>Оқу іс-әрекет (2) 9:50-10:10</td>
						<td>Сюжеттік ойын</td>
						<td>Сюжеттік ойын</td>
					</tr>
					<tr>
						<td>Ойын іс-әрек (3) 10:10-10:30</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>

			</table>
			
		</div>
		
	</section>

	<footer class="footer-not-main">
		<div class="footer-wrapper">
				<div class="general-container">
					Разработано
				</div>
			</div>
	</footer>
</body>
</html>