<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Қызметтеріміз | Алтын Ұрпақ балабақшасы</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="../img/icons/favicon.ico" />
</head>
<body class="custom-body">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="index.html" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="custom-content">
		<div class="custom-icon custom-item--services custom-content__item">
			<img src="../img/icons/services.svg" alt="">
			<span>Қызметтеріміз</span>
		</div>
		<ul class="custom-list custom-content__item">
			<li class="custom-item">Жайлы жарық бөлмелер</li>
			<li class="custom-item">Стандартқа сай білім («Алматыкітап» баспасының «Алғашқы қадам», «Зерек бала», «Біз мектепке барамыз» оқулықтары)</li>
			<li class="custom-item">4 уақыт  дәмді ас және жемістер</li>
			<li class="custom-item">Қосымша таңдамалы оқу іс-әрекеттері (Әдеп, интеллектум, ағылшын тілі («Macmillan» баспасының оқулықтары)</li>
			<li class="custom-item">Үйірмелер (Шахмат, би, каратэ, сурет)</li>
			<li class="custom-item">Логопед қызметі</li>
			<li class="custom-item">Емдік сауықтыру іс-шаралары (толық күндік медициналық көмек, дәрумендер, оттегі коктейлі, тұзбен шынықтыру, таза ауда серуен, жаттығулар)</li>
			<li class="custom-item">Әткеншек, сырғанақтар және көлеңкелік орындармен жабдықталған аула</li>
		</ul>
	</section>

	<footer class="footer-not-main">
		<div class="footer-wrapper">
				<div class="general-container">
					Разработано
				</div>
			</div>
	</footer>
</body>
</html>