<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Күн тәртібі | Алтын Ұрпақ балабақшасы</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="../img/icons/favicon.ico" />
</head>
<body class="custom-body">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="index.html" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="custom-content">
		<div class="custom-icon custom-icon--timetable custom-content__item">
			<img src="../img/icons/calendar-week.svg" alt="">
			<span>Күн тәртібі</span>
		</div>
		<ul class="custom-list custom-content__item">
			<li class="timetable-item" data-time="7:30-8:45">Қабылдау,таңғы жат</li>
			<li class="timetable-item" data-time="8:45-9:30">Таңғы ас</li>
			<li class="timetable-item" data-time="9:30-10:45">Оқу іс-әрекеті</li>
			<li class="timetable-item" data-time="10:45-11:00">Жеміс</li>
			<li class="timetable-item" data-time="11:00-11:30">Ойын.Серуен</li>
			<li class="timetable-item" data-time="11:30-12:30">Оқу іс-әрекеті</li>
			<li class="timetable-item" data-time="12:30-13:00">Түскі ас</li>
			<li class="timetable-item" data-time="13:00-15:00">Ұйқы</li>
			<li class="timetable-item" data-time="15:00-15:15">Ұйқы ашар</li>
			<li class="timetable-item" data-time="15:15-15:45">Бесін ас</li>
			<li class="timetable-item" data-time="15:45-16:15">Ойын.Серуен</li>
			<li class="timetable-item" data-time="16:15-17:15">Үйірме</li>
			<li class="timetable-item" data-time="17:15-18:00">Кешкі ас</li>
			<li class="timetable-item" data-time="18:00-19:30">Үйге қайту</li>
		</ul>
	</section>

	<footer class="footer-not-main">
		<div class="footer-wrapper">
				<div class="general-container">
					Разработано
				</div>
			</div>
	</footer>
</body>
</html>