<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Ерекшеліктеріміз | Алтын Ұрпақ балабақшасы</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="../img/icons/favicon.ico" />
</head>
<body class="uniqueness-body">
	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="index.html" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="uniqueness-content">
		<h1 class="uniqueness-title">Ерекшеліктеріміз</h1>
		<ul class="uniqueness-list">
			<li class="unique-item">Ұзақ жұмыс күні (7.30-19.30)</li>
			<li class="unique-item">Мейірбан қызметкерлер</li>
			<li class="unique-item">Мемлекеттік тілде қызмет көрсету</li>
			<li class="unique-item">Халал тамақ</li>
			<li class="unique-item">Мерзімдік тағамдарға сай құрылған ауыспалы ас мәзірі</li>
			<li class="unique-item">Ата-аналармен тығыз байланыс</li>
		</ul>
	</section>

	<footer class="footer-not-main">
		<div class="footer-wrapper">
				<div class="general-container">
					Разработано
				</div>
			</div>
	</footer>
</body>
</html>