<template name="blog">

	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic|PT+Serif&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>


	<header class="header-not-main">
		<div class="general-container general-container--header">
			<a href="{{pathFor 'home'}}" class="logo logo-not-main">"Алтын Ұрпақ" <br> балабақшасы</a>
		</div>
	</header>
	<div class="overlay"></div>

	<section class="blog-post">
		<div class="post-content">
			<h1 class="blog-post-title">{{title}}</h1>
			{{{body}}}
			<br/>
			<a href="http://vk.com/share.php?url=http://altynurpak.kz{{pathFor 'blog' _id}}&title={{title}}&description={{describe body}}&noparse=false?" target="_blank"><img src="/img/vk.png"/>Бөлісу</a>
		</div>
	</section>

	<section class="blog-post-photos">
	</section>

	<section class="blog-post-photos photos-wrapper--general">
		{{#each imgs}}
			<img src="{{this}}" alt="{{title}}" class="photo-view" />
		{{/each}}
	</section>
	<div class="body-overlay"></div>
	<div class="image-viewer">
		<img src="" alt="" class="current-image">
		<span class="close-btn"></span>
		<span class="left-controller"></span>
		<span class="right-controller"></span>
	</div>
	<script type="text/javascript">
		$("title").text("{{title}} | Алтын Ұрпақ балабақшасы");
		// $("meta[name='description']").attr("content", '{{description}}');
	</script>
</template>