@import "../../tools/mixins";

.timetable-item {
	position: relative;
	margin: 10px 0;
	color: $primary;
	margin-left: 100px;
	font-weight: 700;

	&::before {
		content: attr(data-time);
		display: block;
		@include centerer_v;
		left: -150px;
		color: white;
		background-color: $primary;
		padding: 3px;
		width: 100px;
		text-align: center;

		@media(max-width: 500px) {
			left: -100px;
		}
	}

	@media(max-width: 500px) {
		margin-left: 0px;
	}
}

.custom-icon--timetable {
	color: #ED5858;
}

