<head>
	<meta charset="UTF-8">
	<title>Алтын Ұрпақ балабақшасы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/img/icons/favicon.ico" />

	<meta name="author" content="">
	<meta name="description" content="“Алтын ұрпақ Астана” мекемесі балабақша 2-6 жас аралығында балаларды қабылдайды. Егер сіз балаңыздың жайлы ортада жанына жақын жандардан заманауи білім мен ұлттық құндылықтар ұштастырылған тәлім-тәрбие алғанын қаласаңыз біздің балабақшамыз сіздің көңіліңізден шығады.">

	<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>

</head>