@import "../../tools/mixins";

.schedule-section {
	position: relative;
	z-index: 200;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	margin: 20px 0;
	position: relative;
}


th, td {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: center;
	background-color: white;
}

th {
	background-color: #ccc;
}

.mobile-title {
	display: none;

	@media(max-width: 550px) {
		display: inline;
	}
}





